*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
    table{
        width:80%;
        border-collapse: collapse;
        .list{
            width: 100%;
            tr{
                &:nth-child(even){
                    background-color: chartreuse;
                }
            }
        }
        td,th{
            border: 1px solid rgb(15, 59, 59);
            text-align: left;
            padding: 8px;
        }
        input[type=text],input[type=number]{
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        input[type=submit]{
            width:30%;
            background-color: #ddd;
            color: #000;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        a{
            cursor: pointer;
        }
    }
}